
<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;' ></div>
</div>




<script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
        var markers = handler.addMarkers([
            { lat: <%=@location[0] %>, lng: <%=@location[1] %>}
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>